<html>
    <head>
        <meta charset="utf-8" />
        <title>Administrador de Tareas</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="javascripts/appAngular.js"></script>
    </head>
    <body ng-app="appTareas">
        <div class="page-header">
            <h1>Administrador de Tareas</h1>
        </div>
        <div class="container col-md-4 col-md-offset-4">
            <ui-view></ui-view>
        </div>
    </body>
</html>